.Content {

}

.Content-entry {/*----------- Content-entry ---------*/

.Home-bulletpoints {
	background-color: $c-grey;
	height: auto;
	padding-top: 40px;
	padding-bottom: 15px;

	h3, span {
		color: $c-red;
		line-height: 20px;
		font-size: 25px;
		font-weight: 600;
		margin: 0 0 20px 0;

	}
}
.bul-mid h3 {
	padding-left: 25px;
}

.bul-mid-img {
	margin-top: 35px;
	img {
		max-width: 200px;
	}
}

.bul-right {
	.Icon.Icon--inline {
		fill: $c-red ;
		width: 2em;
		height: 2em;
		padding-bottom: 0.65em;
	}	
}


.header-contact {
	background-color: white;
	text-align: center;
	float: right;
	width: 320px;
	height: 230px;
	padding: 35px 25px;
	margin-top: 30px;

	p {
		font-weight: 400;
	}

	.Button.meer-info {
		background-color: $c-red;
		color: white;
	}
}



.red-bg.more {
	margin: 35px 0 8px;
}

.red-bg {
	background-color: $c-red;
	padding: 10px 0 20px;
	margin: 35px 0 5px;
	h3 {
		color: white;
		text-align: center;
		font-size: 22px;
	}
	span {
		color: white;
		font-size: 30px;
		letter-spacing: 1.5px;
	}
	
	.span-mid-align {
		margin: 0 auto;
		display: block;
		width: 600px;
		
		a:hover {
			opacity: 0.7;
			
		}
		
		.Icon--inline {
			height: 2.4em;
			width: 2.4em;
			padding-bottom: 0.7px;
			fill: white;
			margin-bottom: 9px;
		}
	}
}

.grey-bg {
	background-color: $c-grey;
	padding: 10px 0 20px;
}

.Button.meer-info {
	display: block;
	margin: 20px auto 0;
	background-color: white;
	border: 3px solid white;
	width: 160px;
	padding: 6px;
	text-align: center;
	font-weight: 600;
	
	&:hover {
		border-color: white;
		color: white;
		background-color: $c-red;
	}
}

.mar-left-10 {
	margin-left: 20px;
}


/* Vinkje gedeelte header */

.points-box {
	margin-top: -18px
}


.points-box-img {
	max-width: 190px;
	position: relative;
	img {
		border: 4px solid #BD2F33;
		max-width: 155px;
		position: absolute;
		bottom: 22px;
		left: 255px;
		&:hover {
			opacity: 0.8;
		}
	}
}

ul.Usp-list {
	line-height: 35px;
}


li.icon::before {
	content: "";
	display: inline-block;
	background-size: cover;
	height: 1em;
	width: 1em;
	
	vertical-align: middle;
	padding-bottom: 0.2em;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

li.icon.check {
	font-weight: 600;
	color: $c-greydark;
}

li.check::before {
	background-image: url('../img/vinkje.png');
	height: 1.3em;
	width: 1.3em;

}

.sidebar-contact {
	padding: 20px;
	border: 4px solid $c-red;
	h3 {
		font-size: 14px;
	}	
}

}/*----------- Content-entry ---------*/







// ------------ form styles --------------

label.gfield_label {
	font-weight: 400 !important;
}

input.gform_button {
	background-color: $c-red;
	border-radius: 10px;
	border: 0px;
	padding: 5px 10px;
	color: white;
	font-weight: 400;
	border: 3px solid $c-red;
	
	&:hover {
		background-color: rgba(240, 122, 12, 0.05);
		color: $c-red;
		border: 3px solid $c-red;

		-webkit-transition:all 0.2s ease;
		-moz-transition:all 0.2s ease;
		-o-transition:all 0.2s ease;

	}
}

.ginput_container {		
	input, textarea {
		background-color: white;
		border-radius: 7px;
		border: 2px solid $c-red;
		color: $c-red;
		font-size: 14px !important;
		padding-left: 5px !important;
		
		&:hover, &:focus {
			background-color: rgba(240, 122, 12, 0.02);
		}
	}
}

select.menu {
	width: 150px;
}
//----------------------------------------




.sidebar-contact {
	text-align: center;
	border: 4px solid $c-red;
	padding: 18px;
	margin-top: 40px;

	h3 {
		font-size: 22px;
		line-height: 30px;
		margin: 0;
		margin-top: 10px;
	}	
	
	p {
		font-weight: 400;
	}
	.button {
		background-color: $c-red;
		color: white;
		border: 2px solid $c-red;
		padding: 8px;
		margin: 0 40px;
		font-weight: 600;
		letter-spacing: 1px;
		&:hover {
			background-color: white;
			text-decoration: none;
			color: $c-red;
			
			-webkit-transition:all 0.2s ease;
			-moz-transition:all 0.2s ease;
			-o-transition:all 0.2s ease;
		}
	}
	
	&:hover {
		box-shadow: 6px 8px 0 $c-grey;
	}
}

.sidebar-werkgebied {
	border: 4px solid $c-red;
	margin-top: 25px;
	text-align: center;
	h3 {
		margin: 10px 0;
		font-size: 22px;
	}
	
	.grey-bg-sidebar {
		background-color: #E7E7E7;
		border-top: 4px solid $c-red;
		padding: 20px 0;
	}

	&:hover {
		box-shadow: 6px 8px 0 $c-grey;
	}
}

