// *************************************
//
// Header
// -> Main site header
//
// *************************************

.Header {
  background-image: url("../img/img-header-bg.png");
  background-size: cover;
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

// .Module--modifierName

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Contact bar ----- //

.Header-contact {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: rgba($c-black,0.5);
}

// ----- Contact bar ----- //

.Header-logo {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: rgba($c-black,0.25);
}

// ----- Nav bar ----- //

.Header-nav {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: $c-blue;
}

// ----- Carousel ----- //

.Header-carousel {
  @extend .u-gridRow;
  padding-bottom : ($l-whiteSpace * 4);
  padding-top    : ($l-whiteSpace * 4);
}


.Header {
	background-image: url('../img/header-bg.jpg');
	background-size: cover;
	height: 410px;
}


.Page-title {
	text-align: center;
	padding: 10px 0 15px;
	background-color: white;
	border-bottom: 4px solid $c-red;
	h2 {
		color: $c-red;
		text-transform: uppercase;
		font-size: 40px;
		line-height: 20px;
		font-weight: 600;
		letter-spacing: 1px;
	}
	p {
		color: $c-greydark;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 18px;
		line-height: 10px;		
		letter-spacing: 1px;
	}
}

.page-id-5 {	
	.Page-title {
		padding: 10px 0;
		border-bottom: 0px solid;
	}
}
