// *************************************
//
// Nav-Toggle
// -> Nav-toggle
//
// *************************************

.Navigation-menuToggle  {
  display: block;
  @media all and (min-width: 1040px) {
    display: none;
  }
}

.Navigation-menuToggle {
	background-color: transparent;
    border: 3px solid white;
	cursor: pointer;
	float: right;
    width: 36px;
    height: 36px;
    border-radius: 7px;
    margin-top: 7px;
	
	&:hover {
		background-color: rgba(255,255,255,0.2);
	}
}

.Nav-toggle {
.Icon.Icon--inline {
	fill: white;
	display: block;
	margin: auto;
	margin-top: 4px;
	height: 25px;
	width: 25px;

}
}


#js-navCollapseTarget {
	position: relative;
	z-index: 999;
	@media all and (max-width: 1040px) {
		display: none;
	}
}

@media all and (min-width: 1040px) {	
	#js-navCollapse {
		display: none;
	}

}
@media all and (max-width: 1040px) {	
	#js-navCollapse {
		display: block;
	}
}