// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

.Navigation {
  text-align: center;
}


.Navigation-link.is-active {

}

.Navigation-listItem {
  display: inline;
//  margin: 0 rem(15px);
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
}

// ----- Navigation link ----- //

.Navigation-link {
  text-transform: uppercase;
}

.Navigation-link--invertedBold {
  color: $c-white; 
  font-weight: bold;
}



.Top-Nav { 
	height: 140px;
	background-color: white;
	
	.Logo, .Logo-2 {
		float: left;
	}
	.Logo {
		padding-top: 15px;
	}
	.Logo-2 {
		padding-top: 25px;
		padding-left: 30px;
	}
	
	.Top-contact {
		float: right;
		width: 250px;
		padding: 0 30px;
		
		h6 {
			text-align: right;
			color: $c-red;
			font-size: 20px;
			line-height: 20px;
			margin: 20px 0 13px;
		
		}
		
		a {
			display: block;
			text-align: right;
			color: $c-greydark;
			line-height: 10px;
			font-size: 17px;
			margin: 0;

			&:hover {
				opacity: 0.7;
				-webkit-transition:all 0.2s ease;
				-moz-transition:all 0.2s ease;
				-o-transition:all 0.2s ease;
				
			}
		}
	}
}

.Bot-Nav {
	background-color: $c-red;
	height: 58px;
	border-top: 4px solid white;
	border-bottom: 4px solid white;
	position: relative;
}

.Navigation {
	ul.Navigation-list {
		margin: 0;
		
		li.Navigation-listItem {
			margin: 0 -5px 0 0;
			line-height: 49px;
			padding: 15px 0;
			border-left: 2px solid white;
			
			&:first-of-type {
				border-left: 0px solid white;
			}
			
			&:hover {
				background-color: $c-grey;

				-webkit-transition:all 0.2s ease;
				-moz-transition:all 0.2s ease;
				-o-transition:all 0.2s ease;
				a.Navigation-link {
					color: $c-red;
					text-decoration: none;

				}
			}
			
			a.Navigation-link {
				color: white;
				font-size: 14px;
				padding: 13px;
				margin: 0;
				font-weight: 600;
				letter-spacing: 1.5px;
			
			}
		}
	}
}
.Mob-contact-ico {
	display: none;
}

//======================================================
//          @media queries - Responsiveness
//======================================================

@media all and (max-width: 1040px) {
	.Bot-Nav {
		height: auto;
		min-height: 58px;
	}
	
	.Top-contact {
		display: none;
	}
	
	.Navigation {	
		position: relative;
		ul.Navigation-list {
			margin-top: 60px;
			position: absolute;
			li.Navigation-listItem {
				display: block;
				line-height: 30px;
				border-left: 0 solid;
				
				&:last-of-type {
					margin-bottom: 15px;
				}
				
				&:hover {
					background-color: $c-grey;
	
					-webkit-transition:all 0.2s ease;
					-moz-transition:all 0.2s ease;
					-o-transition:all 0.2s ease;
					a.Navigation-link {
						color: $c-red;
						text-decoration: none;
	
					}
				}
				
				a.Navigation-link {
					color: white;
					font-size: 14px;
					padding: 13px;
					margin: 0;
					font-weight: 600;
					letter-spacing: 1.5px;
				
				}
			}
		}
	}
	
	
	.Mob-contact-ico {
		display: block;
		z-index: 5000;
				
		a { 
			border: 2px solid white;
			position: absolute;
			display: block;
			width: 35px;
			height: 35px;
			border-radius: 7px;
			top: 8px;
			background-color: transparent;
			.Icon--inline {
				fill: white;
				width: 2em;
				height: 2em;
				padding-bottom: 1em;
			}
		}
		.telsvg {
			left: 10px;				
			.Icon--inline {
				margin: -4px;
			}
		}
		
		.tel2svg {
			left: 55px;				
			.Icon--inline {
				margin: -5px;
			}
		}

		.mailsvg {
			left: 100px;				
			.Icon--inline {
				margin: -6px;
			}
		}
	}
}