// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

.Navigation {
  text-align: center;
}


.Navigation-link.is-active {

}

.Navigation-listItem {
  display: inline;
//  margin: 0 rem(15px);
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
}

// ----- Navigation link ----- //

.Navigation-link {
  text-transform: uppercase;
}

.Navigation-link--invertedBold {
  color: $c-white; 
  font-weight: bold;
}



.Top-Nav { 
	height: 140px;
	background-color: white;
	
	.Logo, .Logo-2 {
		float: left;
	}
	.Logo {
		padding-top: 15px;
	}
	.Logo-2 {
		padding-top: 25px;
		padding-left: 30px;
	}
	
	.Top-contact {
		float: right;
		width: 250px;
		padding: 0 30px;
		
		h6 {
			text-align: right;
			color: $c-red;
			font-size: 20px;
			line-height: 20px;
			margin: 20px 0 13px;
		
		}
		
		a,p {
			display: block;
			text-align: right;
			color: $c-greydark;
			line-height: 40px;
			font-size: 20px;
			margin: 0;
			font-weight: 600;

			&:hover {
				opacity: 0.7;
				text-decoration: none;
				-webkit-transition:all 0.2s ease;
				-moz-transition:all 0.2s ease;
				-o-transition:all 0.2s ease;
				
			}
		}
		
		.Contact-mob {
			position: relative;
			line-height: 20px;
			img {
				max-width: 35px;
				position: absolute;
				top: 2px;
				left: -4px;
			}
		}
	}
}

.Bot-Nav {
	background-color: $c-red;
	height: 58px;
	border-top: 4px solid white;
	border-bottom: 4px solid white;
	position: relative;
}

.Navigation {
	ul.Navigation-list {
		margin: 0;
		
		li.Navigation-listItem {
			margin: 0 -5px 0 0;
			line-height: 49px;
			padding: 15px 0;
			border-left: 2px solid white;
			
			&:first-of-type {
				border-left: 0px solid white;
			}
			
			&:hover {
				background-color: $c-grey;

				-webkit-transition:all 0.2s ease;
				-moz-transition:all 0.2s ease;
				-o-transition:all 0.2s ease;
				a.Navigation-link {
					color: $c-red;
					text-decoration: none;

				}
			}
			
			a.Navigation-link {
				color: white;
				font-size: 14px;
				padding: 13px;
				margin: 0;
				font-weight: 600;
				letter-spacing: 1.5px;
			
			}
		}
	}
}
.Mob-contact-ico {
	display: none;
}

//======================================================
//          @media queries - Responsiveness
//======================================================
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.Navigation ul.Navigation-list li.Navigation-listItem {
		line-height: 50px;
		padding: 16px 0;
	}
}


@media all and (max-width: 1040px) {
	.Bot-Nav {
		height: auto;
		min-height: 58px;
	}
	
	.Logos-wrap {
		width: 625px;
		margin: 0 auto;
	}
	
	.Top-contact {
		display: none;
	}
	
	.Navigation {	
		position: relative;
		ul.Navigation-list {
			margin-top: 60px;
			position: absolute;
			li.Navigation-listItem {
				display: block;
				line-height: 30px;
				border-left: 0 solid;
				
				&:last-of-type {
					margin-bottom: 15px;
				}
				
				&:hover {
					background-color: $c-grey;
	
					-webkit-transition:all 0.2s ease;
					-moz-transition:all 0.2s ease;
					-o-transition:all 0.2s ease;
					a.Navigation-link {
						color: $c-red;
						text-decoration: none;
	
					}
				}
				
				a.Navigation-link {
					color: white;
					display: block;
					font-size: 14px;
					padding: 5px;
					margin: 0;
					font-weight: 600;
					letter-spacing: 1.5px;
				
				}
			}
		}
	}
	

	.Mob-contact-ico {	/* --	responsive left nav icons  -- */
		display: block;
		z-index: 5000;
				
		a { 
			border: 2px solid white;
			position: absolute;
			display: block;
			width: 35px;
			height: 35px;
			border-radius: 7px;
			top: 8px;
			background-color: transparent;
			&:hover {
				background-color: rgba(255,255,255,0.2);
			}

			.Icon--inline {
				fill: white;
				width: 2em;
				height: 2em;
				padding-bottom: 1em;				
			}
		}
		
		.telsvg {
			left: 10px;				
			.Icon--inline {
				margin: -4px;
			}
		}
		
		.tel2svg {
			left: 55px;				
			.Icon--inline {
				margin: -5px;
			}
		}

		.mailsvg {
			left: 100px;				
			.Icon--inline {
				margin: -6px;
			}
		}
	}
	
	
	.Header {
		height: 300px;
	}
	
	.Page-title {
		padding: 10px 0 15px;
		border-bottom: 6px solid $c-grey;
		h2 {
			font-size: 30px;
		}
		p {
			font-size: 15px;
			line-height: 0;
		}
	}
	
	.Content-entry .Home-bulletpoints {
		display: none;
	}
}


@media all and (max-width: 850px) {

}


@media all and (max-width: 630px) {
	.Top-Nav {
		height: auto;
		.Logo { 
			display: block;
		}
		.Logo-2 {
			padding-top: 5px;
			padding-left: 0px;
		}
	}
	
	.Logos-wrap {
		width: auto;
		margin: auto;
	}
	
	.Logo, .Logo-2 {
		float: inherit !important;
		margin: 0 auto;
		width: 235px;
		img {
			max-width: 235px;
		}
	}
	
	li.Navigation-listItem {
		line-height: 10px !important;
	}
	
	a.Navigation-link {
		font-size: 12px !important;
	}

	.Header {
		display: none;
	}
	
	.Page-title {
		padding: 5px 0 10px;
		border-bottom: 4px solid $c-grey;
		h2 {
			font-size: 18px;
			line-height: 30px;
		}
		p {
			font-size: 10px;
			line-height: 20px;
		}
	}
}